<div class="w3-sidebar w3-bar-block w3-center w3-large w3-border w3-light">
    <a (click)="sendSidebarValue(1)" class="w3-bar-item w3-button w3-border-bottom w3-padding-16">Add books</a>
    <a (click)="sendSidebarValue(2)" class="w3-bar-item w3-button w3-border-bottom w3-padding-16">Search books</a>
    <a (click)="sendSidebarValue(3)" class="w3-bar-item w3-button w3-border-bottom w3-padding-16">Reserve books</a>
    <a (click)="sendSidebarValue(4)" class="w3-bar-item w3-button w3-border-bottom w3-padding-16">Fines</a>
</div> 

