<app-home-navbar></app-home-navbar>

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to UCSC Digital Library!</h1>
    <p class="lead">
        This is the online system for the undergraduate students of the UCSC to reserve books and search for books.</p>
    <hr class="my-4">
    <p>
        We provide you many services along with book reservation service.
    </p>
    <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="content">
    <div class="container">
            <div class="card">
                <div class="card-header bg-primary">
                    About Us
                </div>
                <div class="card-body">
                    <p class="card-text">
                        UCSC Digital Library (UCSC-DL) is an online e-Repository which mainly contains published materials of UCSC students and staff, namely undergraduate, masters and research level dissertations, thesis and published research papers. In addition, UCSC-DL contains electronic materials shared among internal staff. Only authorized personnel will be allowed to access library materials but selected materials as listed here, could be accessed without login into the system. This repository is updated regularly, and new works are added to collections on a continuous basis.
                    </p>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header bg-primary">
                    Categories in UCSC Digital Library
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <ul>
                            <li>Archive Books</li>
                            <li>Bachelor of Computer Science</li>
                            <li>Bachelor of ICT</li> 	
                            <li>Bachelor of Information Technology</li>
                            <li>Bulk upload</li> 	
                            <li>Computer Science Masters</li>
                            <li>Conference proceedings</li> 	
                            <li>eBooks</li>
                            <li>Infomation Security Masters</li> 	
                            <li>Infomation Technology Masters</li>
                            <li>Journals and Magazines</li> 	
                            <li>Personal Academic Collection</li>
                            <li>Ph.D and M.Phil</li> 	
                            <li>Research Articles</li>
                        </ul>
                    
                </div>
            </div>
    </div>
</div>