<div class="container">
    <br>
    <div class="alert alert-light" role="alert">
        <!-- <h4 class="alert-heading">Add Books</h4>
        <p>Add books to UCSC digital library</p> -->
        <!-- <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
        <br>
        <p class="mb-0">
            <div class="row">
                <div class="col-md-6">
                    <form (submit)="onBookSubmit()">
                        
                        <legend>Add Books</legend>
                        <br>
                        <!-- <div class="form-group">
                            <label for="titleFormControlInput">Title</label>
                            <input type="text" [(ngModel)]="title" name="title" class="form-control" id="titleFormControlInput" required>
                        </div> -->
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Title" [formControl]="titleFormControl">
                          </mat-form-field>
                        </div>
                        <!-- <div class="form-group">
                            <label for="isbnFormControlInput">ISBN</label>
                            <input type="text" [(ngModel)]="isbn" name="isbn" class="form-control" id="isbnFormControlInput" required>
                        </div> -->
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="ISBN" [formControl]="isbnFormControl">
                          </mat-form-field>
                        </div>
                        <!-- <div class="form-group">
                            <label for="pagecountFormControlInput">Page Count</label>
                            <input type="text" [(ngModel)]="pagecount" name="pagecount" class="form-control" id="pagecountFormControlInput" required>
                        </div> -->
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Page Count" [formControl]="pageCountFormControl">
                          </mat-form-field>
                        </div>
                        <!-- <div class="form-group">
                            <label for="shortdescriptionFormControlInput">Short Description</label>
                            <textarea class="form-control" [(ngModel)]="shortdescription" name="shortdescription" id="shortdescriptionFormControlInput" rows="3"></textarea>
                        </div> -->
                        <div class="form-group">
                          <p>
                            <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Short Description" [formControl]="shortDescriptionFormControl"></textarea>
                            </mat-form-field>
                          </p>
                        </div>
                        <!-- <div class="form-group">
                            <label for="authorsFormControlInput">Authors</label>
                            <input type="text" [(ngModel)]="authors" name="authors" class="form-control" id="authorsFormControlInput">
                        </div> -->
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Authors" [formControl]="authorsFormControl">
                          </mat-form-field>
                        </div>
                        <!-- <div class="form-group">
                            <label for="noofcopysFormControlInput">Number of Copys</label>
                            <input type="text" [(ngModel)]="noofcopys" name="noofcopys" class="form-control" id="noofcopysFormControlInput" required>
                        </div> -->
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Number of Copys" [formControl]="noOfCopysFormControl">
                          </mat-form-field>
                        </div>
                        <button mat-raised-button type="submit" color="primary" name="submit">Submit</button>
                        <!-- <button type="reset" class="btn btn-primary" name="cancel">Cancel</button> -->
                        
                    </form>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
            
    </div>

</div>

<!-- <form>
    <fieldset>
      <legend>Legend</legend>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleSelect1">Example select</label>
        <select class="form-control" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleSelect2">Example multiple select</label>
        <select multiple="" class="form-control" id="exampleSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Example textarea</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
      </div>
      <fieldset class="form-group">
        <legend>Radio buttons</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Option one is this and that—be sure to include why it's great
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else and selecting it will deselect option one
          </label>
        </div>
        <div class="form-check disabled">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
            Option three is disabled
          </label>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend>Checkboxes</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" checked="">
            Option one is this and that—be sure to include why it's great
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" disabled="">
            Option two is disabled
          </label>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form> -->
